/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font.css';

:root {
  font-family: "titilliumweb-r", verdana;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-primary {
  color: #06c !important;
}

a {
  font-weight: 500;
  color: #06c !important;
  text-decoration: inherit;
}

a:hover {
  color: #06c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: auto;
}

#root {
  overflow: auto;
  width: 100%;
}

.main-container {
  display: block;
  min-height: 400px;
  padding-bottom: 30px;
  padding-top: 1em !important;
}

/* Media query per schermi più piccoli di 1024px */
@media (max-width: 1024px) {
  .main-container {
    margin-top: 200px;
    /* Cambia il padding-top per dispositivi più piccoli */
  }
}

.container {
  padding-top: 20px;
  /* Spazio extra sopra il contenuto */
}

h1 {
  font-size: 2rem;
  /* Imposta una dimensione del font reattiva */
}

.card {
  margin-top: 20px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #06c;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #06c;
  }

  button {
    background-color: #f9f9f9;
  }
}

header {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Ombra per dare profondità */
}

#main-container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em !important;
}

.container {
  width: 100%;
}

#top-nav {
  background: #00264D;
  max-width: 100%;
  padding: 0;
}

@media (min-width: 1600px) {
  #top-nav #top-nav-wrapper {
    padding-left: 14.6rem;
  }
}

@media (min-width: 1366px) {
  #top-nav #top-nav-wrapper {
    padding: 0.5rem 0 0.5rem 10rem;
    padding-left: 10rem;
  }
}

@media (min-width: 1280px) {
  #top-nav #top-nav-wrapper {
    padding: 0.55rem 0 0.55rem 9rem;
  }
}

@media (min-width: 1024px) {
  #top-nav #top-nav-wrapper {
    padding: 0.4rem 0 0.4rem 8.4rem;
  }
}

@media (min-width: 768px) {
  #top-nav #top-nav-wrapper {
    padding: 0.18rem 0 0.18rem 8.8rem;
  }
}

@media (min-width: 480px) {
  #top-nav #top-nav-wrapper {
    padding-left: 8rem;
  }
}

@media (min-width: 360px) {
  #top-nav #top-nav-wrapper {
    padding-left: 1rem;
  }
}

#top-nav #top-nav-wrapper {
  padding: 0.22rem 0 0.22rem 0.8rem;
  position: relative;
  max-width: 100%;
  margin-left: 90px;
}

#top-nav #top-nav-title a {
  color: #fff;
}

@media (min-width: 1024px) {
  .page-header {
    position: static;
    height: auto;
  }
}

.page-header {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1080;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 1024px) {
  .page-header {
    position: static;
    height: auto;
  }
}

.page-header {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 96px;
  z-index: 1080;
}

@media (min-width: 360px) {
  .logo {
    margin-left: 0;
  }
}

.page-header .logo {
  display: inline-block;
  margin-left: 10px;
}

.page-header .logo h1 {
  vertical-align: bottom;
}

@media (min-width: 1366px) {
  #head-lead h1 {
    font-size: 2.85rem;
  }
}

@media (min-width: 1280px) {
  #head-lead h1 {
    font-size: 2.35rem;
  }
}

@media (min-width: 480px) {
  #head-lead h1 {
    font-size: 2rem;
  }
}

.page-header h1 {
  font: normal 1.8rem/1.1 titilliumweb-sb;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
  display: inline-block;
  text-indent: 0;
  vertical-align: middle;
  margin-left: 10px;
}

.page-header h1 a,
.page-header h1 a:hover {
  color: #fff !important;
  font-size: xxx-large;
  text-decoration: none;
}

.page-header h1 div {
  font-size: large;
}

#head-lead {
  background-color: #06C;
  max-width: 100%;
  padding: 1rem;
  padding-bottom: 1.3rem;
}

.main-menu-container-h {
  margin: 0 !important;
  padding: 0 !important;
}

#main-menu-container-h,
.main-menu-container-h {
  background: #eaeaea;
  box-shadow: 1px 1px 3px 0 #a8a8a8;
  max-width: 100%;
  margin: 0 auto;
}

#main-menu-container-h .navbar-nav a,
#main-menu-container-h .navbar-nav p,
#main-menu-container-h .menu-h a,
#main-menu-container-h .menu-h p,
.main-menu-container-h .navbar-nav a,
.main-menu-container-h .navbar-nav p,
.main-menu-container-h .menu-h a,
.main-menu-container-h .menu-h p {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  background: #30373d;
  color: #ddd;
  width: 100%;
  padding: 0.3rem 0;
  position: relative;
  font-size: 0.75rem;
  z-index: 450;
}

footer p {
  margin: 0.5rem auto;
  text-align: center;
  font-size: medium;
}

footer a,
footer a:hover {
  color: #ddd !important;
}

.wrapper-content {
  width: 100%;
  padding: 0 0 0.5rem;
  margin: 0
}

.sticky-top {
  background: #efefef;
  padding: 0;
  border-bottom: 1px solid #aaa;
}

@keyframes pulse-notify {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-notify-animation {
  animation: pulse-notify 2s infinite;
}

.container-app {
  min-height: 500px;
}

.navbar-toggler {
  background-color: #fff;
}

.nav-link {
  text-transform: uppercase !important;
  white-space: nowrap;
}

.dropdown-item {
  height: 45px;
  padding-top: 10px;
  text-decoration: underline;
  font-weight: normal !important;
  border-bottom: 1px solid #ccc !important;
}

.dropdown-item:hover {
  color: #00264D !important;
  font-weight: 500 !important;
}

.nav-item {
  min-width: 180px;
  text-align: center;
  vertical-align: bottom;
  border-left: 1px solid #ccc;
}

.nav-item a {
  border-bottom: 2px solid #aaa;
}

.nav-item.last {
  border-right: 1px solid #ccc;
}

.nav-item a.active {
  border-bottom: 2px solid #06C;
  background: #fff;
  font-weight: 500 !important;
  color: #00264D !important;
}

.active {
  background: #fff;
  font-weight: 500 !important;
  color: #00264D !important;
}

.dropdown-item.last {
  border-bottom: none !important;
}

.dropdown-item:hover {
  background-color: #fff !important;
}

.dropdown-item:focus {
  background-color: #fff !important;
  color: #00264D;
}

.dropdown-menu {
  margin: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 200px;
}

.custom-card {
  border: 1px solid #cccccc;
  /* Sfumatura sui bordi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Aggiungi un'ombra morbida */
  background-color: #ffffff;
}

.custom-card .card-body {
  position: relative;
  z-index: 1;
  /* Assicurati che il contenuto della card sia sopra l'effetto del bordo */
}

.custom-card .card-title {
  color: #333;
}

.custom-card .card-subtitle {
  color: #777;
}

.btn-firma {
  display: flex;
  /* Usa flexbox per allineare il contenuto */
  justify-content: center;
  /* Centra il testo */
  align-items: center;
  /* Centra verticalmente il contenuto */
  text-transform: uppercase;
  /* Testo in maiuscolo */
  font-weight: bold;
  width: 100%;
  font-size: larger;
  background: #06c;
}

.btn-firma:hover {
  background: #17d;
}

.btn-firma .ml-2 {
  margin-left: 8px;
  /* Distanza tra il testo e l'icona */
  margin-right: 0;
}

.border-cc-01 {
  border-color: #2fc3c8;
  opacity: 100;
}

.border-cc-02 {
  border-color: #75d495;
  opacity: 100;
}

.border-cc-05 {
  border-color: #f3d757;
  opacity: 100;
}

.border-cc-03 {
  border-color: #f98586;
  opacity: 100;
}

.border-cc-06 {
  border-color: #b06cec;
  opacity: 100;
}

.border-c-45 {
  border-color: #6b686b;
  opacity: 100;
}

.thin-color-separator {
  display: block;
  margin: 0.5em auto;
  border-width: 3px;
}

.expiring-badge {
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: #ee0000;
  color: white;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes pulse-expire {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-expire-animation {
  animation: pulse-expire 2s infinite;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* Elimina gli spazi tra le celle */
  background: none;
}

table td,
table tr,
table th {
  padding: 0;
  vertical-align: middle;
}

table td {
  background-color: none;
  padding: 4px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

thead tr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  color: #888 !important;

}

thead tr th {
  background: none;
  color: rgb(90, 103, 114) !important;
  white-space: nowrap;
}

.table>:not(caption)>*>* {
  background: none;
}

table.table-sm {
  font-size: 0.875rem;
  /* Riduce la dimensione del testo */
  padding: 0.3rem;
  /* Riduce il padding delle celle */
}

table.table-sm th,
table.table-sm td {
  padding: 0.25rem 0.5rem;
  /* Riduce il padding orizzontale e verticale */
  font-size: 0.875rem;
  /* Mantiene il font più piccolo */
}

thead th {
  font-weight: bold;
  background-color: #f8f9fa;
  /* Sfondo chiaro per la testa della tabella */
  border-bottom: 2px solid #007bff;
  /* Bordo orizzontale più spesso per la testa */
}

tbody tr:hover {
  background-color: #f1f1f1;
  /* Colore di hover per le righe */
}

.user-icon {
  width: 24px; /* Imposta la larghezza dell'icona */
  height: 24px; /* Imposta l'altezza dell'icona */
  border-radius: 50%; /* Crea il cerchio */
  background-color: #ccc; /* Colore di sfondo per il cerchio */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; /* Distanza tra l'icona e il nome */
  color: white; /* Colore dell'icona */
  font-size: 14px;
}
